* {
    font-size: 1rem ;
    font-style: verdana;
}
#first {
    color: tomato;
    background-image: url(../Desenvolvimento\ web/imagens/download2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#titulo {
    color: teal;
}
.azul {
    color: rgba(0, 100, 200, 0.6);
}